
AppAuth.Authentication.sln.fire.cache
AppAuth.Authentication.sln.fire.user
Bin/Debug/iOS/libAppAuth.Authentication.h
Bin/Debug/iOS/liblibAppAuth.Authentication.a
Bin/Debug/iOS/liblibAppAuth.Authentication.fx
Bin/
